<div id="books-show">
  <h2><%= @book.title %></h2>
  <div class="books-show-left">
    <%= image_tag('') %>
  </div>
  <div class="books-show-right">
    <h3>Book Info</h3>
    <ul>
      <li><strong>Category: </strong><%= @book.category.name %></li>
      <li><strong>Author: </strong>Some twat</li>
      <li><strong>ISBN: </strong><%= @book.isbn %></li>
    </ul>
    <%=link_to "",'XXX', class: 'btn btn-success', target: 'XXX' %>
  </div>
  <div class="clearfix"></div>
  <h4>XXXXXX</h4>
</div>